<!DOCTYPE html>
<html lang="fr">
    <head>
         <meta charset="utf-8">

        <title>
            {% block title %}
            Prostages
            {% endblock %}
        </title>
    </head>

    <body>

<h1>ProStage</h1>
<h2>Liste des entreprises</h2>
<
<ul>
  <li><a href="default.html">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>

    <